@import 'reset';
@import 'variables/globals';
@import 'themes/dark';
@import 'themes/normal';


body {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--background-color);
}


.app {
  background-color: var(--background-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.flex-wrapper {
  flex-grow: 1;
  padding: 1.25rem;
}

.inverted {
  color: var(--inverted-primary-color) !important;
}
