.ArticleDetailsHeader {
  margin-bottom: 23px;
}

.avatar {
  margin-bottom: 44px;
}

.articleInfo {
  display: flex;
  gap: 6px;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

