:root {
  --font-family-main: system-ui, sans-serif;

  --font-size-m: 1rem;
  --font-line-m: 1.5rem;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 1.5rem;
  --font-line-l: 2rem;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 2rem;
  --font-line-xl: 2.5rem;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  // Размеры
  --navbar-height: 3.75rem;

  --sidebar-width: 18.75rem;
  --sidebar-collapsed-width: 5rem;
}


*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: color-mix(in srgb, var(--background-color), transparent 30%);
}

*::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--inverted-background), transparent 90%);
  border-radius: 6px;
  border: 2px solid color-mix(in srgb, var(--inverted-background), transparent 70%);
}