.Text {
  width: 100%;
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}

.primary {
  color: var(--primary-color)
}

.inverted {
  color: var(--inverted-primary-color)
}

.red {
  color: var(--red-color);
}


.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}