.ArticleList {
  display: grid;
}

.small {
  grid-template-columns: repeat(auto-fit, 198px);
  grid-auto-flow: dense;
  grid-auto-rows: 200px auto;
  gap: 1rem;
  justify-content: space-between;
}

.big {
  grid-template-columns: auto;
  gap: 24px;
}