.link {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 32px;
    justify-items: center;
}

.activeLink {
    border-left: 1px solid var(--accent-re-color);
    background: linear-gradient(88.26deg, rgba(94, 211, 243, 0.3) 1.162%,rgba(94, 211, 243, 0) 99.956%);
}

.icon {
    fill: var(--background-color);
}
