.ArticleList {
  width: 100%;
  display: grid;
}

.small {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-flow: dense;
  grid-auto-rows: 200px auto;
  gap: 1rem;
  justify-content: start;
}

.big {
  grid-template-columns: auto;
  gap: 24px;
}