.Input {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-background);
  outline: none;
  border: none;
  padding: 8px 15px;
  width: 100%;

  &.error {
    outline: 1px solid var(--red-color);
  }

  ::placeholder {
    color: var(--red-color);
  }
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}

.label {
  font: var(--font-m);
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.errorMessage {
  color: red;
  font: var(--font-m);
  margin-left: 15px;
}