.Notification {
  padding: 8px;
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--background-color), transparent 20%);
  transition: background-color 300ms ease-in-out;
  max-width: 27ch;

  &:hover {
    background-color: color-mix(in srgb, var(--background-color), transparent 30%);
  }
}
