.ArticleDetails {

}

.avatar {
  margin-bottom: 44px;
}

.articleInfo {
  display: flex;
  gap: 6px;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.header {
  margin-bottom: 23px;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
}