.dark {
  --background-color: #121212;
  --inverted-background: rgb(255, 255, 255);
  --trasperent-background: rgba(255, 255, 255, 0.2);


  --primary-color: #fff;
  --inverted-primary-color: rgba(0, 0, 0, 0.87);

  --secondary-color: rgba(255, 255, 255, 0.7);
  --inverted-secondary-color: rgba(0, 0, 0, 0.6);

  --red-color: rgb(255, 0, 0);

  //  Skeleton
  --skeleton-color: rgba(255, 255, 255, 0.10);

  // Card
  --card-background: #1e1e1e
}
