.MainLayout {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: 284px 1fr 176px;
}

.sidebar {
    grid-area: sidebar;
    justify-self: start;
    padding: 32px;
}

.content {
    width: 100%;
    grid-area: content;
    max-width: 1200px;
    justify-self: center;
    padding: 32px;
}

.rightbar {
    grid-area: rightbar;
}

.rightbar, .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.header {
    justify-self: end;
}

.toolbar {
    justify-self: end;
}
