.ArticleListItem {
  position: relative;
  display: grid;
  background-color: var(--card-background);
  border: 1px solid var(--card-background);

  .cardBottom {
    padding-inline: 0.5rem;
  }
}

.viewers {
  display: flex;
  gap: 3px;
  align-items: center;
}


.big {
  border-radius: 5px;

  .header {
    padding: 14px 20px;
  }

  .headerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .bottomInfo {
    padding: 14px 20px;
  }

  .bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .textBlock {
    height: 170px;
    overflow-y: hidden;
    margin-bottom: 1.5rem;
  }

  .user {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .image {
    width: 100%;
    height: 178px;
    object-fit: cover;
    object-position: center;
  }
}

.small {
  grid-template-rows: subgrid;
  grid-row: span 2;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: scale 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border-radius: 5px;

  &:hover {
    opacity: 0.8;
    scale: 1.01;

    .createdAt {
      display: block;
    }
  }

  .createdAt {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 9px 12px;
    background-color: var(--card-background);
    opacity: .5;
    padding: 2px 4px;
    border-radius: 5px;
  }

  .cardTags, .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cardTags {
    font-size: 12px;
    max-width: 16ch;
  }

  .title {
    max-width: 19ch;
  }

  .cardInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .image {
    object-fit: fill;
    width: 100%;
    height: 200px;
  }
}