.Navbar {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 1.25rem;
  background-color: var(--inverted-background);
}

.links {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
