.ProfileCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  height: fit-content;
  min-height: 400px;

  &.loading {
    justify-content: center;
    align-items: center;
  }

}

.wrapper {
  display: flex;
  gap: 8px;
}

.data {
  display: grid;
  gap: 0.5rem;
}