.Dropdown {

}

.button {
  background-color: transparent;
  border: none;
  outline: transparent;
}

.items {
  margin-top: 2px;
  background-color: var(--background-color);
  border: 1px solid var(--inverted-background);
}

.item {
  color: var(--primary-color);
  
  display: flex;
  width: 100%;
  padding: 6px 12px;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: transparent;
  background-color: transparent;


  &:hover, &[data-focus] {
    background-color: color-mix(in srgb, var(--primary-color) 10%, transparent);
  }

  &[data-selected] {
    color: var(--secondary-color);
  }

}